Source: webbar
Section: python
Priority: extra
Build-Depends: debhelper (>= 8), libglib2.0-bin, python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Lucas R. Martins <lukasrms@gmail.com>
Standards-Version: 3.9.3
XS-Python-Version: current

Package: webbar
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-notify,
 python-gobject-2,
 python-launchpad-integration,
 python-gtk2,
 yelp,
 python-zbar,
 python-configobj,
 python-zbarpygtk
Description: Simple app to reading barcodes with webcam.
 To use, start the app and place your barcode on your webcam. It's
 useful to pay bills online and organize collections, or even access
 control.
